// @tailwind utilities;

// @layer utilities {
//   /* Ensure spin animation is available even if tailwind base is missing in admin */
//   .animate-spin {
//     animation: spin 1s linear infinite;
//   }

//   @keyframes spin {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(360deg);
//     }
//   }
// }
