build
dist / media
node_modules
.DS_Store
.env
.env.local
.env.production
.env.staging
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


tsconfig.tsbuildinfo


.idea
.vscode
.notes.md


tempData.ts

scratch.ts
cloud_prod.dump
